node_modules
cache
.vitepress/dist
.nuxt
.output

__pycache__

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.DS_Store
.env
.venv